header{
    width: 100%;
    height: 53px;
    
   
}
.header-content{
    
    display: flex;
    justify-content: space-around;
    margin-right: 56px;
    margin-left: 56px;
    align-items: center;
    background-color: var(--black);
    z-index: 9999999;
}
.logo{
   width: 120px;
   z-index: 999;
   transition: .8s;
}
.logo:hover{
    cursor: pointer;
    opacity: .9;
}
.menu{
    
    height: 70px;
    min-width: 600px;
    display: flex;
    margin: auto;
    margin-right: 0px;
    align-items: center;
    

}
.menu .item-menu a{
  letter-spacing: 0.02rem;
  position: relative;
  text-decoration: none;
  margin-right: 25px;
  color: var(--secondary);
  
  
  
}
.menu .item-menu a:hover{
    color: white;
}

.menu .item-menu a:after{
    content: "";
    position: absolute;
    background-color: var(--primary);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: all .4s;

}

.menu .item-menu a:hover:after{

    width: 100% ;
}